body {
    background-color: #05274C !important;
  }

  #box {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 15px;
    border-radius: 5%;
  }
  
  .carousel-inner img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
  
  .carousel-inner {
    height: 100%; 
    border-radius: 20px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    transition: background-color 0.5s ease-in-out; 
  }
  
  .boton-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #boton {
    background-color: #602234;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    opacity: 80%;
  }
  
  .contenido {
    text-align: center;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: #fff;
  }
  


  @media (max-width: 380px) {
    .contenido {
      max-width: 90%; 
      margin: 0 auto; 
      padding: 20px; 
      text-align: justify; 
    }
    .boton {
      position: absolute; 
      left: 20px; 
      bottom: 10px; 
      font-size: 12px; 
      padding: 5px 10px; 
    }
  }

  #box2{
    padding: 15px;
  }

  .rectangulo {
    margin: 0 auto;
     
    width: 100%;
    padding: 0;
    background-color: #ffffff;
    border: 3px solid #000;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    box-sizing: border-box;
  }
  
  .seccion-izquierda {
    background-color: #9093A7;
    flex-basis: 30%;
    padding: 45px ;
    border-right: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
  }
  
  .seccion-derecha {
    background-color: #EFEBE0;
    flex-basis: 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .seccion-izquierda h3 {
    margin-bottom: 10px;
  }

  .seccion-derecha p {
    font-size: 16px; 
    font-weight: bold; 
    color: #333; 
    text-align: justify; 
  }
  
  .seccion-derecha p::first-letter {
    font-size: 18px; 
    font-weight: bold; 
    color: #333; 
  }
  
  #countdown1 {
    color: #666;
  }
  

  @media (max-width: 768px) {
    .rectangulo {
      flex-direction: column;
      border: none; 
    }
    .seccion-izquierda {
      flex-basis: 100%;
      border-bottom: 3px solid black; 
    }
    .seccion-derecha {
      flex-basis: 100%;
      border: none; 
    }
  }

  .mapa {
    width: 600px;
    height: 450px;
    margin: 10px auto;
    float: left; 
  }
  
  #map {
    padding: 15px;
    margin-top: -20px; 
  }
  
  .caja-lateral {
    float: left; 
    width: calc(100% - 620px); 
    margin-top: -6px;
    height: 300px; 
    display: flex;
    flex-direction: row;
  }
  
  .caja-superior {
    flex-basis: 70%;
    background-color: #602234;
    padding: 20px;
    margin-right: 10px; 
    height: 100%; 
    display: flex;
    align-items: center; 
  }

  .caja-superior img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .caja-inferior {
    flex-basis: 30%;
    background-image: url('/Images/escuela\ tecnica\ N°2.png');
    background-size: cover;
    background-color: #333;
    padding: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
  }
  
  .boton {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 200px; 
  }
  
  .boton:hover {
    background-color: #602234;
  }
  
  
  @media (max-width: 768px) {
    .mapa {
      width: 100%;
      height: 300px;
    }
    .caja-lateral {
      width: 100%;
      margin-top: 20px;
    }
    .caja-superior {
      flex-basis: 100%;
    }
    .caja-inferior {
      flex-basis: 100%;
      margin-top: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .mapa {
      height: 300px;
    }
    .caja-lateral {
      margin-top: 120px;
    }
    .boton {
      margin-top: 100px;
    }
  }